.container-custom {
    background-color: #FFFFFF;
}

.button-custom {
    background-color: #4CAF50; /* Green button */
    color: #FFFFFF;
}

.button-custom:hover {
    background-color: #45a049;
}

.input-custom {
    background-color: #FFFFFF;
    color: #000000;
}

.image-container {
    background-image: url('../images/tree3.jpg'); /* Correct path to your image */
    background-size: cover;
    background-position: center;
}

.header {
    background-color: #f3f4f6; /* Slightly darker than background */
    color: #1A4D2E;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header h1 {
    font-family: 'Arial', sans-serif;
    color: #4CAF50;
    display: flex;
    align-items: center;
}

.header img {
    max-height: 100px;
    margin-right: 10px;
}

.footer {
    background-color: #1A4D2E;
    color: #FFFFFF;
    text-align: center;
    padding: 1rem;
    margin-top: auto;
}
