<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to GreenUAE</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/homeStyle.css">
</head>

<body class="bg-gray-100 min-h-screen flex flex-col">
<!-- Header -->
<header class="header w-full py-4">
    <div class="container mx-auto flex justify-between items-center px-4">
        <div class="flex items-center">
            <img src="/images/logo.jpg" alt="logo" class="h-12 w-12 mr-2">
            <h1 class="text-2xl font-bold">GreenUAE</h1>
        </div>
        <nav>
            <a href="/signUp" class="button-custom py-2 px-4 rounded mr-2">Signup</a>
            <a href="/login" class="button-custom py-2 px-4 rounded">Login</a>
        </nav>
    </div>
</header>

<!-- Main Content -->
<main class="main-content flex-grow flex items-center justify-center">
    <div class="bg-white w-full max-w-4xl shadow-md rounded-lg overflow-hidden flex">
        <div class="w-full md:w-1/2 p-8">
            <h2 class="text-3xl font-bold mb-4">Welcome to GreenUAE!</h2>
            <p class="text-gray-700 text-lg mb-6">Join us in making the UAE green by planting more trees and promoting sustainability. Learn how you can contribute to a greener future.</p>
        </div>
        <div class="hidden md:block md:w-1/2 image-container"></div>
    </div>
</main>

<!-- About Us Section -->
<section id="about-us" class="about-us">
    <h2>About Us</h2>
    <div class="team">
        <div class="member">
            <p><strong>Ahmad Naser Aljaghbeir</strong></p>
            <p>CSIT Department</p>
            <p>College of Engineering</p>
            <p>Abu Dhabi University</p>
            <p>Abu Dhabi, UAE</p>
            <p>Email: 1080100@students.adu.ac.ae</p>
        </div>
        <div class="member">
            <p><strong>Khaled Raed Albaz</strong></p>
            <p>CSIT Department</p>
            <p>College of Engineering</p>
            <p>Abu Dhabi University</p>
            <p>Abu Dhabi, UAE</p>
            <p>Email: 1079786@students.adu.ac.ae</p>
        </div>
        <div class="member">
            <p><strong>Mohamad Akda</strong></p>
            <p>CSIT Department</p>
            <p>College of Engineering</p>
            <p>Abu Dhabi University</p>
            <p>Abu Dhabi, UAE</p>
            <p>Email: 1079654@students.adu.ac.ae</p>
        </div>
    </div>
</section>

<!-- Footer -->
<footer class="footer">
    <p>&copy; 2024 GreenUAE. All rights reserved.</p>
</footer>
</body>

</html>
